.performance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    margin-bottom: 2.5rem;
    text-align: center;
    padding: 2.5rem 0 0 0;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 919px;
  }

  &__item {
    width: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem 2rem 0.5rem;
  }

  &__icon {
    width: 6rem;
    height: 48px;
  }

  &__text {
    max-width: 11rem;
  }

  .performance__item:hover .performance__icon path {
    fill: #c2110e;
  }

  .performance__item .performance__icon svg {
    width: 7rem;
    height: 48px;
  }

  @media (max-width: 769px) {
    &__title {
      width: 28rem;
    }
  }

  @media (max-width: 576px) {
    &__title {
      width: 19rem;
    }
    &__item {
      width: 100%;
    }

    &__text {
      width: 100%;
      max-width: unset;
    }
  }
}
