.usda {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;

  &__img {
    width: 7rem;
    height: 6.4rem;
    margin-right: 0.5rem;
  }

  &__text {
    width: 24rem;
  }

  @media (max-width: 576px) {
    flex-direction: column;
    height: auto;
    padding: 1rem 0;

    &__img {
      margin-right: 0;
      margin-bottom: 1rem;
    }

    &__text {
      text-align: center;
      width: auto;
      padding: 0 1rem;
    }
  }
}
