@import './partials/navbar.scss';
@import './home/header.scss';
@import './home/benefits.scss';
@import './home/subscribe.scss';
@import './home/performance.scss';
@import './home/usda.scss';
@import './home/product.scss';
@import './home/process.scss';
@import './home/faqs.scss';

body,
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
